# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\saone\Desktop\dir\go\proj\tech-assessment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
*.DS_Store
build/
target/
bin/
dependency-reduced-pom.xml
.classpath
.project
.settings/
*.iml
*.ipr
*.iws
*.idea
*.log
Thumbs.db
